[submodule "cards-against-formality-pwa"]
	path = cards-against-formality-pwa
	url = https://github.com/JordanPawlett/cards-against-formality-pwa
[submodule "cards-against-formality-services"]
	path = cards-against-formality-services
	url = https://github.com/JordanPawlett/cards-against-formality-services
